body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: left;  /* Horizontal centering */
  align-items: center;      /* Vertical centering */
  background-color: #f0f0f0; /* Optional: background for contrast */
}

.mainbody {
  padding: 20px;
  padding-left:30px;
   height:400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left:50px;
  margin-top:-200px;
}

.user {
      display: flex;
      align-items: center;
      gap: 10px; /* space between input and button */
      padding: 20px;
      margin-bottom:30px ;
      background-color: #f5f5f5;
      border-radius: 8px;
      width: fit-content;
      background-color: #45a049;
    }

    .user input[type="text"] {
      padding: 8px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .user input[type="submit"] {
      padding: 8px 16px;
      font-size: 14px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .user input[type="submit"]:hover {
      background-color: #45a049;
    }
  .profile-table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

.profile-table th,
.profile-table td {
  padding: 8px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

.leader {
  width: 100px;       
  height: 100px;      
  padding: 20px;
  position:relative;
margin-left:400px;
margin-top:-90px;
  background-color: #e8f4ff;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.s {
  background-color: aqua;
  margin-botom:200px;
}